<div class="col-md-12">
    <div class="content">
        <div class="header text-left">
            <a href="#">
                <i class="fa fa-eye fa-fw"></i>
                View
            </a>&nbsp;
            <a href="#" id="vehicle-new-action" data-toggle="modal" data-target="#vehicle-new-modal">
                <i class="fa fa-plus fa-fw"></i>
                New
            </a>&nbsp;
            <a href="#">
                <i class="fa fa-edit fa-fw"></i>
                Edit
            </a>&nbsp;
            <a id="#" href="vehicle-mgmt-delete">
                <i class="fa fa-minus fa-fw"></i>
                Delete
            </a>
        </div>
        <div id="vehicle-mgmt-datatable-div" class="table-responsive"></div>
    </div>
</div>
