{% extends "security/security-container.html" %}

{% block main %}
<div id="cl-wrapper" class="forgotpassword-container">

    <div class="middle">
        <div class="block-flat">
            <div class="header">                            
                <h3 class="text-center"><img class="logo-img" src="{{ static_url('arctic/common/images/logo.png') }}" alt="logo"/></h3>
            </div>
            <div>
                <form style="margin-bottom: 0px !important;" class="form-horizontal" action="{{ url_for('demo_handler.reset_password')}}" parsley-validate novalidate>
                    <div class="content">
                        <h5 class="title text-center"><strong>Forgot your password?</strong></h5>
                        <p class="text-center">Don't worry, we'll send you an email to reset your password.</p>
                        <hr/>


                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    <input type="email" name="email" parsley-trigger="change" parsley-error-container="#email-error" required placeholder="Your Email" class="form-control">
                                </div>
                                <div id="email-error"></div>
                            </div>
                        </div>
                        <p class="spacer text-center">Don't remember your email? <a href="#">Contact Support</a>.</p>
                        <button class="btn btn-block btn-primary btn-rad btn-lg" type="submit">Send Email</button>
                    </div>
                </form>
            </div>
        </div>
        {% include "layout/layout-footer.html"%}
    </div> 

</div>
{% endblock %}
