{% extends "security/security-container.html" %}

{% block main %}
<div id="cl-wrapper" class="forgotpassword-container">

    <div class="middle">
        <div class="block-flat">
            <div class="header">                            
                <h3 class="text-center"><img class="logo-img" src="{{ static_url('arctic/common/images/logo.png') }}" alt="logo"/></h3>
            </div>
            <div>
                <form style="margin-bottom: 0px !important;" class="form-horizontal" action="index.html" parsley-validate novalidate>
                    <div class="content">
                        <h5 class="title text-center"><strong>Reset Password</strong></h5>
                        <hr/>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                    <input type="password" name="password" parsley-trigger="change" parsley-error-container="#password1-error" required placeholder="Your Password" class="form-control">
                                </div>
                                <div id="password1-error"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                    <input type="password" name="password" parsley-trigger="change" parsley-error-container="#password2-error" required placeholder="Retype Your Password" class="form-control">
                                </div>
                                <div id="password2-error"></div>
                            </div>
                        </div>
                        <button class="btn btn-block btn-primary btn-rad btn-lg" type="submit">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
        {% include "layout/layout-footer.html"%}
    </div> 

</div>
{% endblock %}
