<div id="cl-wrapper" class="login-container">
    <div class="middle-login">
        <div class="block-flat">
            <div class="header">
                <h3 class="text-center">
                    <img class="logo-img" src="wolf-app/assets/images/logo.png" alt="logo"
                    />
                </h3>
            </div>
            <div>
                <form style="margin-bottom: 0px !important;" class="form-horizontal" action=""
                parsley-validate novalidate>
                    <div class="content">
                        <h5 class="title text-center">
                            <strong>Login User</strong>
                        </h5>
                        <hr/>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    <input type="text" placeholder="Username" id="username" class="form-control"
                                    parsley-trigger="change" parsley-error-container="#username-error" required>
                                </div>
                                <div id="username-error"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                    <input type="password" placeholder="Password" id="password" class="form-control"
                                    parsley-trigger="change" parsley-error-container="#password-error" required>
                                </div>
                                <div id="password-error"></div>
                            </div>
                        </div>
                    </div>
                    <p class="spacer text-center">Don't remember your password?
                        <a href="dashboard">Reset Password</a>.</p>
                    <div class="foot">
                        <button class="btn btn-block btn-primary btn-rad btn-lg" type="submit">Log Me In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

