<div id="assign-user-modal" class="modal fade colored-header in" role="dialog" tabindex="-1" style="display: none;"
     aria-hidden="false">
    <div class="modal-dialog custom-width">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Assign to User</h3>
                <button class="close md-close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
            </div>
            <div class="modal-body form">
                <div class="row">
                    <label class="col-sm-6 control-label">All Users</label>
                    <label class="col-sm-6 control-label">Selected</label>
                </div>
                <div class="form-group">
                    <select id='users' class="searchable" name="searchable[]" multiple='multiple'>
                        <option value='elem_1' selected>Administrator</option>
                        <option value='elem_2'>User01</option>
                        <option value='elem_3'>User02</option>
                        <option value='elem_4' selected>Johnny Lv</option>
                        <option value='elem_5'>User04</option>
                        <option value='elem_6'>User05</option>
                        <option value='elem_7'>User06</option>
                        <option value='elem_8'>User07</option>
                        <option value='elem_9'>User08</option>
                        <option value='elem_10'>User09</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-flat md-close" data-dismiss="modal" type="button">Add</button>
                <button class="btn btn-default btn-flat md-close" data-dismiss="modal" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>