<ul class="cl-vnavigation" id="main-menu">
    <li><a href="#dashboard/"><i class="fa fa-home"></i><span>Dashboard</span></a></li>
    <li><a href="" data-bypass><i class="fa fa-gears open"></i><span>System Management</span></a>
        <ul class="sub-menu" id="sub-menu" sytle="display: block">
            <li><a href="#user-mgmt/"><i class="fa fa-user"></i>User Mannagement</a></li>
            <li><a href="#user-group-mgmt/"><i class="fa fa-users"></i>User Group Mannagement</a></li>
            <li><a href="#role-mgmt/"><i class="fa fa-sitemap"></i>Role Management</a></li>
            <li><a href="#privilege-mgmt/"><i class="fa fa-puzzle-piece"></i>Privilege Management</a></li>
            <li><a href="#criteria-mgmt/"><i class="fa fa-filter"></i>Criteria Management</a></li>
        </ul>
    </li>
    <li><a href="#vehicle-mgmt/"><i class="fa fa-truck"></i><span>Vehicle Management</span></a></li>
    <li><a href="#generic-filter/"><i class="fa fa-search-minus"></i><span>Generic Filter</span></a></li>
</ul>
