<div id="attributes-container" class="col-md-3"></div>
<div id="operators-container" class="col-md-3"></div>
<div id="value-container" class="col-md-3">
	<input id="value" type="value" class="form-control" parsley-type="value">
</div>
<div id="logic-operators-container" class="col-md-2"></div>
<div class="col-md-1">
    <a id="add" herf="#" style="cursor: pointer">
        <i class="fa fa-plus fa-fw"></i>
    </a>
    <a id="remove" herf="#" style="cursor: pointer">
        <i class="fa fa-minus fa-fw"></i>
    </a>
</div>