<div class="tab-content">
    <div class="tab-pane active cont" id="generalInfo">
        {% include "role/tab/role-general-info.html"%}
    </div>
    <div class="tab-pane cont" id="privilege">
        {% include "role/tab/role-privilege.html"%}
    </div>
    <div class="tab-pane cont" id="userGroup">
        {% include "role/tab/role-userGroup.html"%}
    </div>
    <div class="tab-pane cont" id="user">
        {% include "role/tab/role-user.html"%}
    </div>
    <div class="tab-pane cont" id="history">
        {% include "role/tab/role-history.html"%}
    </div>
</div>