<div class="middle-sign-up">
    <form action="index.html" class="form-horizontal group-border-dashed">
        <div class="header text-right">
            <button class="btn btn-primary" type="submit">Edit</button>
            <button class="btn btn-default" type="submit">Save</button>
            <button class="btn btn-default" type="submit">Cancel</button>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Name</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" value="Administrator"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Description</label>
            <div class="col-sm-6">
                <textarea class="form-control">This is Description</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Enabled</label>
            <div class="col-sm-6">
                <div class="switch" data-on="success">
                    <input type="checkbox" checked="">
                </div>
                <!--
                <div class="switch has-switch">
                    <div class="switch-animate switch-on">
                        <input type="checkbox" checked="">
                    </div>
                </div>
                -->
            </div>
        </div>
    </form>
</div>
