<div class="cl-mcont">
    <div class="row">
        <div id="tab-container" class="tab-container">
        	<ul class="nav nav-tabs">
			    <li class="active"><a href="#role-mgmt/view" data-toggle="tab"><i class="fa fa-bars"></i>General Information</a></li>
			    <li><a href="#role-mgmt/privileges" data-toggle="tab"><i class="fa fa-puzzle-piece"></i>Privileges</a></li>
			    <li><a href="#role-mgmt/user-groups" data-toggle="tab"><i class="fa fa-group"></i>User Group</a></li>
			    <li><a href="#role-mgmt/users" data-toggle="tab"><i class="fa fa-user"></i>Users</a></li>
			    <li><a href="#role-mgmt/history" data-toggle="tab"><i class="fa fa-road"></i>History</a></li>
			</ul>
        	<div class="tab-content">
                <div class="tab-pane active cont" id="general-info">
                </div>
                <div class="tab-pane cont" id="privilege">
                </div>
                <div class="tab-pane cont" id="user-group">
                </div>
                <div class="tab-pane cont" id="user">
                </div>
                <div class="tab-pane cont" id="history">
                </div>
            </div>
        </div>
    </div>
</div>
