{% extends "layout/layout.html" %}

{% block main %}

<div class="cl-mcont">
    <div class="row">
        <div class="tab-container">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#generalInfo" data-toggle="tab"><i class="fa fa-bars"></i>General Information</a></li>
                <li><a href="#whereUsed" data-toggle="tab"><i class="fa fa-paperclip"></i>Where Used</a></li>
                <li><a href="#history" data-toggle="tab"><i class="fa fa-road"></i>History</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active cont" id="generalInfo">
                    {% include "privilege/privilege-general-info.html"%}
                </div>
                <div class="tab-pane cont" id="whereUsed">
                    {% include "privilege/privilege-where-used.html"%}
                </div>
                <div class="tab-pane cont" id="history">
                    {% include "privilege/privilege-history.html"%}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Info -->
{% include "common/modal-warning.html"%}

{% endblock %}
