<div class="middle-sign-up">
    <form action="index.html" class="form-horizontal group-border-dashed" parsley-validate novalidate>
        <div class="header text-right">
            <button class="btn btn-primary" type="submit">Edit</button>
            <button class="btn btn-default" type="submit">Save</button>
            <button class="btn btn-default" type="submit">Cancel</button>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Name</label>

            <div class="col-sm-6">
                <input class="form-control" type="text" value="All Users"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Description</label>

            <div class="col-sm-6">
                <textarea class="form-control">This is Description</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Object Type</label>

            <div class="col-sm-6">
                <select class="form-control">
                    <option>User</option>
                    <option>User Group</option>
                    <option>Vehicle</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Object Type</label>

            <div class="col-sm-6">
                <select class="form-control">
                    <option>User</option>
                    <option>User Group</option>
                    <option>Vehicle</option>
                </select>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-3 control-label">Criteria</label>

            <div class="col-sm-6">
                <dd class="col-md-4 col-sm-6">
                    <select class="select2 select2-offscreen" tabindex="-1">
                        <optgroup label="Vehicle">
                            <option value="CA">Name</option>
                            <option value="NV">Description</option>
                        </optgroup>
                    </select>
                </dd>
                <dd class="col-md-4 col-sm-6">
                    <select class="form-control">
                        <option>Start with</option>
                        <option>Contains</option>
                        <option>Equal to</option>
                    </select>
                </dd>
                <dd class="col-md-4 col-sm-6">
                    <input type="value" class="form-control" parsley-type="value">
                </dd>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"></label>

            <div class="col-sm-6">
                <dd class="col-md-4 col-sm-6">
                    <select class="select2 select2-offscreen" tabindex="-1">
                        <optgroup label="Vehicle">
                            <option value="CA">Name</option>
                            <option value="NV">Description</option>
                        </optgroup>
                    </select>
                </dd>
                <dd class="col-md-4 col-sm-6">
                    <select class="form-control">
                        <option>Start with</option>
                        <option>Contains</option>
                        <option>Equal to</option>
                    </select>
                </dd>
                <dd class="col-md-4 col-sm-6">
                    <input type="value" class="form-control" parsley-type="value">
                </dd>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Enabled</label>

            <div class="col-sm-6">
                <div class="switch" data-on="success">
                    <input type="checkbox" checked>
                </div>
            </div>
        </div>
    </form>
</div>