<!-- Nifty Modal -->
<div id="new-modal" class="modal fade colored-header in" role="dialog"
style="display: none;" aria-hidden="false">
    <div class="modal-dialog colored-header custom-width">
        <div class="md-content">
            <div class="modal-header">
                <h3>Create Vehicle</h3>
                <button type="button" class="close md-close" data-dismiss="modal"
                aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body form">
                <div class="form-group">
                    <!-- TODO: extract to component factory - Vehicle Icon component -->
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-new thumbnail" style="width: 235px; height: 150px;">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-camera"></i>
                                </span>
                                <img src="http://placehold.it/190x140/7761A7/ffffff" alt="...">
                            </div>
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                        <div>
                            <span class="btn btn-primary btn-file">
                                <span class="fileinput-new">Select image</span>
                                <span class="fileinput-exists">Change</span>
                                <input type="file" name="...">
                            </span>
                            <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">On Board Date</label>
                    <!-- TODO: extract to component factory - DateTimePicker
                    -->
                    <div class="input-group date datetime" data-start-view="4" data-date="2014-05-16T05:25:07Z"
                    data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                        <input class="form-control" size="16" type="text" value="" readonly/>
                        <span class="input-group-addon btn btn-primary">
                            <span class="glyphicon glyphicon-th"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Vehicle Name</label>
                    <input id="vehicle-name" type="email" class="form-control"
                    placeholder="Vehicle Name" value="<%= vehicle['vehicle_name'] %>">
                </div>
                <div class="form-group">
                    <label class="control-label">Vehicle Price</label>
                    <div id="vehicle-price-container"></div>
                </div>
                <div class="form-group">
                    <label class="control-label">Vehicle Brand</label>
                    <div id='vehicle-brands-container'></div>
                </div>
                <div class="form-group">
                    <label class="control-label">Vehicle Model</label>
                    <div id='vehicle-models-container'></div>
                </div>
                <div class="form-group">
                    <label class="control-label">Vehicle Emission</label>
                    <div id='vehicle-emissions-container'></div>
                </div>
                <div class="form-group">
                    <label class="control-label">Status</label>
                    <div id="vehicle-switch-container"></div>
                </div>
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <textarea class="form-control" placeholder="This is the description"
                    id="vehicle-desc" value="<%- vehicle['vehicle_desc']%>"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button id="vehicle-create-action" class="btn btn-primary btn-flat md-close"
                data-dismiss="modal" type="button">Create</button>
                <button class="btn btn-default btn-flat md-close" data-dismiss="modal"
                type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>

